body {
    height: 100vh;
    width: 400px;
    margin: 200px auto 0;
}
.form-control {
    width: 400px;
    margin: 0 auto;
}
.message {
    padding: 10px 1rem;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    text-align: left;
    display: none;
}