* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    padding-top: 320px;
    width: 100%;
    height: 100vh;
    background-color: orange;
    text-align: center;
}

.form {
    width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-input {
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
}
.btn {
    display: block;
    padding: 1.2rem 3rem;
    margin: 0 auto;
    margin-top: 4rem;
    border: none;
    outline: none;
    border-radius: 10px;    
}
.btn:active {
    transform: scale(0.95);
}
.message {
    font-size: 1.8rem;
    color: white;
    width: 200px;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin: 4rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
